<div class="page-header">
  <h1>[<%= @settings.teamtag %>] <%= full_player_name(@player) %> - <%= @type %> ladder matches</h1>
</div>
<table class="table table-striped">
  <tr>
    <th>Timestamp</th>
    <th>Result</th>
    <th>Rank</th>
    <th>Teams</th>
    <th>Map</th>
  </tr>
<% @matches.each do |match,change| %>
  <%= erb :match_row, :locals => {
    :match  => match,
    :change => change,
    :player => @player
  } %>
<% end %>
</table>
