<%
  if change[:seeded]
    prepend = 'seed match'
    cclass = 'text-info'
    change[:diffrank] = ''
  elsif change[:diffrank] > 0
    prepend = '+'
    cclass = 'text-success'
  elsif change[:diffrank] < 0
    prepend = ''
    cclass = 'text-danger'
  else
    prepend = ''
    cclass = 'text-info'
  end
%>(<strong><span class='<%= cclass %>'><%= prepend %><%= change[:diffrank] %></span></strong>)
